.products__container
  margin: 15px auto 100px
.products__title
  font-family: 'Roboto Slab', sans-serif
  font-style: normal
  font-weight: 700
  font-size: 26px
  line-height: 35px
  text-align: center
  color: #000000
  border-bottom: 3px solid #FFED00
  max-width: max-content
  margin: 40px auto 20px
  padding: 0 10px 10px
.products__titles
  margin-bottom: 25px
.products__description
  font-family: 'Source Sans Pro', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 24px
  text-align: center
  color: #000000
.doors__title
  font-family: 'Source Sans Pro'
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 33px
  text-align: center
  color: #000000
  border-bottom: 3px solid #FFED00
  max-width: max-content
  margin: 10px auto 10px
  cursor: pointer
.interior__title,
.entranceDoors__title
  font-size: 20px
  font-family: "Roboto Slab", sans-serif
  font-weight: 400
  border-bottom: 2px solid #FFED00
  margin-bottom: 15px
  padding-bottom: 5px
  cursor: pointer
  transition: 1s
.entranceDoors,
.interior
  position: relative
  overflow: hidden
  transition: .3s
  margin: 10px 0
.door__list
  width: 100%
  display: flex
  flex-direction: column
  position: absolute
.visible
  padding-bottom: 1010px
.door__image
  max-width: max-content
  height: 320px
  margin: 0 auto
  filter: blur(0)
  -webkit-filter: blur(0)
  padding: 10px
  img
    height: 100%
    width: 100%
    object-fit: contain
.doorName
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 400
  font-size: 24px
  color: rgba(0, 0, 0, 0.8)
.logo
  width: 200px
  img
    width: 100%
    height: 100%
.height
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 300
  font-size: 16px
  color: rgba(0, 0, 0, 0.8)
.info
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 300
  font-size: 16px
  color: rgba(0, 0, 0, 0.8)
  text-align: left
.made
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 400
  font-size: 18px
  color: rgba(0, 0, 0, 0.8)
.door__image
  transition: .3s

.door__item
  position: relative
  background-color: #FFED00
  cursor: pointer
  transition: .2s
  margin-bottom: 15px
  z-index: 9
  &:hover
    .door__image
      filter: blur(10px)
      -webkit-filter: blur(10px)
    .doorInfo
      opacity: 1
    .filterBlock
      opacity: 1
.filterBlock
  background-color: rgba(217, 217, 217, 0.5)
  position: absolute
  top: 0
  left: 0
  transition: .3s
  width: 100%
  height: 100%
  z-index: 10
  opacity: 0
.blueBack
  background-color: #4D69BF

.doorInfo
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding: 15px 15px 40px 15px
  opacity: 0
  z-index: 11
  transition: .4s
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
.doorInfo__text
  max-width: 60%
.allDoors__btn
  display: block
  font-size: 14px
  font-weight: 400
  font-family: "Roboto Slab", sans-serif
  color: #1C1C33
  background-color: #FFED00
  text-transform: uppercase
  border: none
  border-radius: 4px
  padding: 16px
  margin: 35px auto 0
  cursor: pointer
@media screen and ( min-width: 870px )
  .interior__title,
  .entranceDoors__title
    font-size: 22px
  .doorInfo__text
    max-width: 100%
  .visible
    padding-bottom: 300px
  .door__list
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 35px
  .door__image
    height: 260px
  .doorName
    font-size: 24px
  .height
  .info
    font-size: 14px
  .made
    font-size: 14px
  .logo
    width: 150px
    img
      width: 100%
      height: 100%
  .doors
    font-size: 22px
  .products__description
    font-size: 19px
  .products__title
    font-size: 30px
  .doors__title
    font-size: 20px
@media screen and ( min-width: 966px )
  .interior__title,
  .entranceDoors__title
    font-size: 24px
  .door__image
    height: 290px
@media screen and ( min-width: 1100px )
  .visible
    padding-bottom: 370px
  .door__image
    height: 360px
  .logo
    width: 240px
  .doorName
    font-size: 26px
  .info
    font-size: 18px
  .height
    font-size: 18px
  .made
    font-size: 20px
    line-height: 100%
@media screen and ( min-width: 1300px )
  .interior__title,
  .entranceDoors__title
    font-size: 26px
  .doorName
    font-size: 28px
  .made
    font-size: 22px
  .height
    font-size: 20px
  .info
    font-size: 20px
  .door__image
    height: 460px
  .visible
    padding-bottom: 470px
@media screen and ( min-width: 1500px )
  .door__info
    gap: 25px
  .visible
    padding-bottom: 470px
@media screen and ( min-width: 1700px )
  .doorName
    font-size: 32px
  .made
    font-size: 26px
  .height
    font-size: 24px
  .info
    font-size: 24px
  .door__info
    gap: 30px
  .door__image
    height: 500px
  .visible
    padding-bottom: 510px
@media screen and ( min-width: 1900px )
  .interior__title,
  .entranceDoors__title
    font-size: 28px
  .doorName
    font-size: 38px
  .made
    font-size: 32px
  .height
    font-size: 30px
  .info
    font-size: 30px
  .door__info
    gap: 40px
  .door__image
    height: 560px
  .visible
    padding-bottom: 570px
