.products__titles
  max-width: 528px
  text-align: center
  margin: 0 auto
.products__title
  font-family: "Source Sans Pro", sans-serif
  font-weight: bold
  font-size: 44px
  line-height: 52.8px
  border-bottom: 2px solid #FFED00
  padding-bottom: 17px
.products__description
  font-family: "Source Sans Pro", sans-serif
  font-weight: 400
  font-size: 22px
  line-height: 33px
  padding-top: 36px
.door__image
  width: 514px
  height: 486px
  img
    width: 100%
    height: 100%
    padding: 20px 10px
    justify-content: center
.door
  background-color: #FFED00
  max-width: 514px
  height: 486px
  transition: .4s
  display: flex
  &:hover
    background-color: rgba(217, 217, 217, 0.5)
.doorInfo
  padding: 30px 20px
.doors
  display: grid
  grid-template-columns: repeat(3, 1fr)
  max-width: 1690px
  margin: 45px auto
  gap: 62px
.flex
  padding-top: 26px
.doors__title
  font-family: "Source Sans Pro", sans-serif
  font-weight: 400
  font-size: 26px
  line-height: 33px
  background-color: transparent
  border-bottom: 4px solid #ffed00
  max-width: 110px
  margin: 0 auto
.doorName
  font-family: "Raleway", sans-serif
  font-size: 32px
  color: #000000B2
.height
  font-family: "Raleway", sans-serif
  font-size: 20px
  color: #000000B2
.info
  font-family: "Raleway", sans-serif
  font-size: 19px
  color: #000000B2
.made
  font-family: "Raleway", sans-serif
  font-size: 16px
  color: #000000B2
.door__info
  display: grid
  grid-template-columns: repeat(1,4fr)
  gap: 20px
